body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.foot-list ul {
  list-style-type: none;

}
@media only screen and (max-width: 600px) {
  .foot-list li {
    font-size: 14px;
  
  }
  .foo-list a{
    font-size: 14px;
    padding-left: 2rem;  
  }
  .mobcen {
    text-align: center;
  }
  .navo {
    align-items: center !important;
  }
  /* [dir="rtl"] .navo{
    align-items: center !important;
  } */
  [dir="rtl"] .mobceno {
    text-align: center !important;
  }
  [dir="rtl"] .shippad2 {
    margin-right: 0px !important;
  
  }
  [dir="rtl"] .shippad3 {
    padding-left: 0px !important;
  
  }
  [dir="rtl"] .ship3 {
    margin-right: 0px !important;
}
[dir="rtl"] .shippad4 {
  padding-right: 48px !important;
  padding-left: 0px !important;
}
[dir="rtl"] .foo-list a {
  font-size: 14px;
  padding-right: 2.5rem !important;
}
  
  .shippad2{
    padding-left: 0px !important;
    text-align: center;

  }
  .shippad3{
    padding-left: 8px !important;
    text-align: center;

  }
  .shippad4{
    padding-left: 35px !important;
    text-align: end;

  }
  .medium{
    font-size: 8px !important;

  }
}



.sign-up-b a {
  color: #e30613;
  border: 1px solid #e30613;
  padding: 13px 32px !important;
  border-radius: 50px;
}

.sign-in-b a {
  padding: 13px 32px !important;
}

.sign-up-b a:hover {
  text-decoration: underline;
  color: white;
  background-color: #e30613;
}

.sign-in-b a:hover {
  text-decoration: underline;
  color: #e30613;
}

.ant-dropdown-menu-title-content {
  max-height: 10px;
}

.icon-wrapper {
  padding: 6px;
  border-radius: 50%;
  border-style: solid;
  border-width: 1px;
  border-color: grey;
}

.icon-wrapper-f {
  margin-right: -25px;
  padding: 6px;
  border-radius: 50%;
  border-style: solid;
  border-width: 1px;
  border-color: grey;
}

.icon-color {
  color: grey;
  height: 1.5em;
  width: 1.5em;
}

.icon-color3 {
  color: grey;

}

.rowspacing {
  padding: 25px !important;
}

.shadcont {
  border-radius: 23px;
  border-style: solid;
  border-width: 2px;
  border-color: #e0e0e0;
}

.labels p {
  font-size: small;
}

.pap {
  margin-top: 15px !important;
  padding-bottom: 35px !important;
  box-shadow: none !important;

}

.progg {
  max-width: 90% !important;
  margin-left: 5% !important;
}

.ship1 {
  margin-top: 20px !important;

}

.ship2 {
  margin-top: 20px !important;

}

.shippad2 {
  padding-left: 40px;

}

.ship3 {
  margin-top: 20px !important;

}

.shippad3 {
  padding-left: 70px;
  text-align: center;
}

.ship4 {
  margin-top: 20px !important;
}

.shippad4 {
  padding-left: 110px;
}

.colspac {
  background-color: #f5f5f5 !important;
  margin-bottom: 25px;
}

.colspac2 {
  margin-top: 15px !important;
  margin-bottom: 25px;
}

.addspac {
  margin-top: 10px !important;
  margin-bottom: 10px;
  color: #455a64;
}

.titlee {
  color: #455a64;
  margin-top: 15px !important;
}

.easy {
  color: #455a64;
}

.medium {
  color: #455a64;
  font-weight: 600;
  font-size: 12px ;
}

.hard {
  color: #455a64;
  font-weight: 800;
  font-size: 14px;
}

.coon img {
  height: 100%;
  width: 100%;
}

[dir="rtl"] .me-auto {
  margin-left: auto !important;
}

[dir="rtl"] .progg {
  max-width: 90% !important;
  margin-right: 5% !important;
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

[dir="rtl"] .shippad2 {
  margin-right: 44px;

}

[dir="rtl"] .ship3 {
  margin-right: 70px;

}

[dir="rtl"] .shippad4 {
  padding-right: 81px;

}

[dir="rtl"] .ship4 {
  margin-left: -70px;

}

[dir="rtl"] .rightic {
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

[dir="rtl"] body {
  font-family: "Cairo" !important;
}

body {
  font-family: "Cairo", sans-serif;
}

.preloader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.preloader-spinner {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #e30613;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  background-color: white;
  ;
}

.section-content {
  text-align: center;
}

.section-content i {
  font-size: 48px;
  margin-bottom: 16px;
}

.bg-body-tertiary {
  background-color: white !important;
}

[dir="rtl"] .textrig {
  display: flex;
}


.section-content h2 {
  font-size: 24px;
  margin-bottom: 8px;
}

.section-content p {
  font-size: 16px;
  color: #555555;
}